[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
[submodule "themes/themes/hugo-coder"]
	path = themes/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
